# Ignore Visual Studio temporary files, build results, and
# build directories.
*.log
*.obj
*.exe
*.pdb
*.user
*.opendb
*.VC.db
*.idb
.vs/
bin/
obj/
*.cache
*.suo
*.tmp
*.ide

# Ignore OpenFrameworks build folders
build/